xsd/internal/HTTP_connector_Search/JSON_HTTP_transaction.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:curate_ns="http://www.convertigo.com/convertigo/projects/curate" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.convertigo.com/convertigo/projects/curate">
    <xsd:element name="HTTP_connector_Search__JSON_HTTP_transaction" type="curate_ns:HTTP_connector_Search__JSON_HTTP_transactionRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="HTTP_connector_Search__JSON_HTTP_transactionResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="curate_ns:HTTP_connector_Search__JSON_HTTP_transactionResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="HTTP_connector_Search__JSON_HTTP_transactionResponseType">
        <xsd:sequence>
            <xsd:element name="document" type="curate_ns:HTTP_connector_Search__JSON_HTTP_transactionResponseData"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="HTTP_connector_Search__JSON_HTTP_transactionRequestData">
        <xsd:sequence/>
    </xsd:complexType>
    <xsd:complexType name="HTTP_connector_Search_JSON_HTTP_transaction_document_object_hits_object_idType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="HTTP_connector_Search_JSON_HTTP_transaction_document_object_hits_object_titleType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="HTTP_connector_Search_JSON_HTTP_transaction_document_object_hits_object_authorType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="HTTP_connector_Search_JSON_HTTP_transaction_document_object_hits_object_bpmType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="HTTP_connector_Search_JSON_HTTP_transaction_document_object_hits_object_keyType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="HTTP_connector_Search_JSON_HTTP_transaction_document_object_hits_object_scaleType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="HTTP_connector_Search_JSON_HTTP_transaction_document_object_hits_object_energyType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="HTTP_connector_Search_JSON_HTTP_transaction_document_object_hits_object_happyType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="HTTP_connector_Search_JSON_HTTP_transaction_document_object_hits_object_sadType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="HTTP_connector_Search_JSON_HTTP_transaction_document_object_hits_object_analyzedType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="HTTP_connector_Search_JSON_HTTP_transaction_document_object_hits_object_aggressivenessType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="HTTP_connector_Search_JSON_HTTP_transaction_document_object_hits_object_danceabilityType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="HTTP_connector_Search_JSON_HTTP_transaction_document_object_hits_object_relaxedType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="HTTP_connector_Search_JSON_HTTP_transaction_document_object_hits_object_playedType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="HTTP_connector_Search_JSON_HTTP_transaction_document_object_hits_object_pathType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="HTTP_connector_Search_JSON_HTTP_transaction_document_object_hits_object_slugType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="HTTP_connector_Search_JSON_HTTP_transaction_document_object_hits_object_imageType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="HTTP_connector_Search_JSON_HTTP_transaction_document_object_hits_object_related_songsType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="HTTP_connector_Search_JSON_HTTP_transaction_document_object_hits_object_genre_valueType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="HTTP_connector_Search_JSON_HTTP_transaction_document_object_hits_object_genreType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="value" type="curate_ns:HTTP_connector_Search_JSON_HTTP_transaction_document_object_hits_object_genre_valueType"/>
        </xsd:sequence>
        <xsd:attribute name="length" type="xsd:byte"/>
        <xsd:attribute default="array" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="HTTP_connector_Search_JSON_HTTP_transaction_document_object_hits_object_commentType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="HTTP_connector_Search_JSON_HTTP_transaction_document_object_hits_object_statusType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="HTTP_connector_Search_JSON_HTTP_transaction_document_object_hits_object_classification_propertiesType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="HTTP_connector_Search_JSON_HTTP_transaction_document_object_hits_objectType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="id" type="curate_ns:HTTP_connector_Search_JSON_HTTP_transaction_document_object_hits_object_idType"/>
            <xsd:element minOccurs="0" name="title" type="curate_ns:HTTP_connector_Search_JSON_HTTP_transaction_document_object_hits_object_titleType"/>
            <xsd:element minOccurs="0" name="author" type="curate_ns:HTTP_connector_Search_JSON_HTTP_transaction_document_object_hits_object_authorType"/>
            <xsd:element minOccurs="0" name="bpm" type="curate_ns:HTTP_connector_Search_JSON_HTTP_transaction_document_object_hits_object_bpmType"/>
            <xsd:element minOccurs="0" name="key" type="curate_ns:HTTP_connector_Search_JSON_HTTP_transaction_document_object_hits_object_keyType"/>
            <xsd:element minOccurs="0" name="scale" type="curate_ns:HTTP_connector_Search_JSON_HTTP_transaction_document_object_hits_object_scaleType"/>
            <xsd:element minOccurs="0" name="energy" type="curate_ns:HTTP_connector_Search_JSON_HTTP_transaction_document_object_hits_object_energyType"/>
            <xsd:element minOccurs="0" name="happy" type="curate_ns:HTTP_connector_Search_JSON_HTTP_transaction_document_object_hits_object_happyType"/>
            <xsd:element minOccurs="0" name="sad" type="curate_ns:HTTP_connector_Search_JSON_HTTP_transaction_document_object_hits_object_sadType"/>
            <xsd:element minOccurs="0" name="analyzed" type="curate_ns:HTTP_connector_Search_JSON_HTTP_transaction_document_object_hits_object_analyzedType"/>
            <xsd:element minOccurs="0" name="aggressiveness" type="curate_ns:HTTP_connector_Search_JSON_HTTP_transaction_document_object_hits_object_aggressivenessType"/>
            <xsd:element minOccurs="0" name="danceability" type="curate_ns:HTTP_connector_Search_JSON_HTTP_transaction_document_object_hits_object_danceabilityType"/>
            <xsd:element minOccurs="0" name="relaxed" type="curate_ns:HTTP_connector_Search_JSON_HTTP_transaction_document_object_hits_object_relaxedType"/>
            <xsd:element minOccurs="0" name="played" type="curate_ns:HTTP_connector_Search_JSON_HTTP_transaction_document_object_hits_object_playedType"/>
            <xsd:element minOccurs="0" name="path" type="curate_ns:HTTP_connector_Search_JSON_HTTP_transaction_document_object_hits_object_pathType"/>
            <xsd:element minOccurs="0" name="slug" type="curate_ns:HTTP_connector_Search_JSON_HTTP_transaction_document_object_hits_object_slugType"/>
            <xsd:element minOccurs="0" name="image" type="curate_ns:HTTP_connector_Search_JSON_HTTP_transaction_document_object_hits_object_imageType"/>
            <xsd:element minOccurs="0" name="related_songs" type="curate_ns:HTTP_connector_Search_JSON_HTTP_transaction_document_object_hits_object_related_songsType"/>
            <xsd:element minOccurs="0" name="genre" type="curate_ns:HTTP_connector_Search_JSON_HTTP_transaction_document_object_hits_object_genreType"/>
            <xsd:element minOccurs="0" name="comment" type="curate_ns:HTTP_connector_Search_JSON_HTTP_transaction_document_object_hits_object_commentType"/>
            <xsd:element minOccurs="0" name="status" type="curate_ns:HTTP_connector_Search_JSON_HTTP_transaction_document_object_hits_object_statusType"/>
            <xsd:element minOccurs="0" name="classification_properties" type="curate_ns:HTTP_connector_Search_JSON_HTTP_transaction_document_object_hits_object_classification_propertiesType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="HTTP_connector_Search_JSON_HTTP_transaction_document_object_hitsType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="object" type="curate_ns:HTTP_connector_Search_JSON_HTTP_transaction_document_object_hits_objectType"/>
        </xsd:sequence>
        <xsd:attribute name="length" type="xsd:byte"/>
        <xsd:attribute default="array" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="HTTP_connector_Search_JSON_HTTP_transaction_document_object_queryType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="HTTP_connector_Search_JSON_HTTP_transaction_document_object_processingTimeMsType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="HTTP_connector_Search_JSON_HTTP_transaction_document_object_limitType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="HTTP_connector_Search_JSON_HTTP_transaction_document_object_offsetType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="HTTP_connector_Search_JSON_HTTP_transaction_document_object_estimatedTotalHitsType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="HTTP_connector_Search_JSON_HTTP_transaction_document_objectType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="hits" type="curate_ns:HTTP_connector_Search_JSON_HTTP_transaction_document_object_hitsType"/>
            <xsd:element minOccurs="0" name="query" type="curate_ns:HTTP_connector_Search_JSON_HTTP_transaction_document_object_queryType"/>
            <xsd:element minOccurs="0" name="processingTimeMs" type="curate_ns:HTTP_connector_Search_JSON_HTTP_transaction_document_object_processingTimeMsType"/>
            <xsd:element minOccurs="0" name="limit" type="curate_ns:HTTP_connector_Search_JSON_HTTP_transaction_document_object_limitType"/>
            <xsd:element minOccurs="0" name="offset" type="curate_ns:HTTP_connector_Search_JSON_HTTP_transaction_document_object_offsetType"/>
            <xsd:element minOccurs="0" name="estimatedTotalHits" type="curate_ns:HTTP_connector_Search_JSON_HTTP_transaction_document_object_estimatedTotalHitsType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="HTTP_connector_Search__JSON_HTTP_transactionResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="object" type="curate_ns:HTTP_connector_Search_JSON_HTTP_transaction_document_objectType"/>
            <xsd:element minOccurs="0" name="error" type="curate_ns:ConvertigoError"/>
        </xsd:sequence>
        <xsd:attribute name="connector" type="xsd:string"/>
        <xsd:attribute name="context" type="xsd:string"/>
        <xsd:attribute name="contextId" type="xsd:string"/>
        <xsd:attribute name="fromStub" type="xsd:boolean"/>
        <xsd:attribute name="fromcache" type="xsd:boolean"/>
        <xsd:attribute name="generated" type="xsd:string"/>
        <xsd:attribute name="project" type="xsd:string"/>
        <xsd:attribute name="sequence" type="xsd:string"/>
        <xsd:attribute name="signature" type="xsd:long"/>
        <xsd:attribute name="transaction" type="xsd:string"/>
        <xsd:attribute name="version" type="xsd:string"/>
        <xsd:attribute name="screenclass" type="xsd:string"/>
        <xsd:attribute name="userReference" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoErrorContextVariable">
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="value" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoErrorContext">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="variable" type="curate_ns:ConvertigoErrorContextVariable"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoError">
        <xsd:sequence minOccurs="0">
            <xsd:element name="code" type="xsd:integer"/>
            <xsd:element name="message" type="xsd:string"/>
            <xsd:element name="details" type="xsd:string"/>
            <xsd:element name="context" type="curate_ns:ConvertigoErrorContext"/>
            <xsd:element name="exception" type="xsd:string"/>
            <xsd:element name="stacktrace" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="project" type="xsd:string"/>
        <xsd:attribute name="connector" type="xsd:string"/>
        <xsd:attribute name="transaction" type="xsd:string"/>
        <xsd:attribute name="sequence" type="xsd:string"/>
        <xsd:attribute name="type">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="c8o"/>
                    <xsd:enumeration value="project"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
